¡Bienvenido al servidor {{ ansible_hostname }}!

Este mensaje fue generado por Ansible el {{ ansible_date_time.date }}.
Sistema operativo: {{ ansible_distribution }} {{ ansible_distribution_version }}
Arquitectura: {{ ansible_architecture }}

¡Que tengas un buen día!